<div id="fullStoryScene">
	<div class="list-fade-top" x-mojo-scroll-fade="top"></div>
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div id="appIcon" class="header-icon icon"></div>                        
			<div id="feed-title" class="title"></div>
		</div>
	</div>
	<div class="palm-list">
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div id="fullStory" class="palm-row-wrapper textfield-group">
				<div id="story-date" class="story-date truncating-text"></div>
				<div id="story-title" class="story-title bold-text multiline"></div>   
				<div id="story-content" class="story-content normal-text condensed multiline"></div>
			</div>
		</div>
	</div>
    <div class="list-fade-bottom" x-mojo-scroll-fade="bottom"></div>
</div>
