<div id="fullStoryScene">
	<div id="scene-scrim" class="palm-scrim"></div>
    <div id="scene-main" class="hidden">
		<div class="list-fade-top" x-mojo-scroll-fade="top"></div>
		<div class="palm-page-header">
			<div class="palm-page-header-wrapper">
				<div class="palm-dashboard-icon-container">
					<div class="header-feed-unreaditem">
						<span id="unread-count" class="feed-count"></span>
					</div>
					<div class="header-feed-newitem">
						<span id="new-count" class="feed-count"></span>
					</div>
					<div id="appIcon" class="header-icon icon"></div>
				</div>
				<div id="feed-title" class="title"></div>
			</div>
		</div>
		<div class="palm-list">
			<div class="palm-row">
				<div id="fullStory" class="palm-row-wrapper textfield-group" x-mojo-tap-highlight="momentary">
					<div id="story-date" class="story-date truncating-text"></div>
					<div id="story-title" class="story-title bold-text multiline"></div>
					<div id="img-container">
						<div x-mojo-element="Spinner" id="picture-spinner" class="picture-spinnner"></div>
						<img id="story-picture">
					</div>
					<div id="media-controls-wrapper">
						<div id="media-progress">
							<video id="media-video"></video>
							<div id="media-progress" class="stream-buffer-bar" x-mojo-element="ProgressSlider"></div>
							<div id="media-info">
								<div id="media-currentPos">00:00</div>
								<div id="media-playState">not connected</div>
								<div id="media-duration">00:00</div>
							</div>
						</div>
						<div id="media-connectionState"></div>
					</div>
					<div id="story-content" class="story-content normal-text condensed multiline"></div>
				</div>
			</div>
		</div>
	</div>
</div>
