<div id="contributorScene">
	<div class="list-fade-top" x-mojo-scroll-fade="top"></div>
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div class="header-icon icon rss"></div>                        
			<div class="title" id="contrib-title">Contributors</div>      
		</div>
	</div>
	<ul>
		<li>
			<a href="mailto:roubal@keyserver.cz">Milan Roubal</a><br>
			Tester, author of the czech locale
		</li>
		<li>
			<a href="mailto:daniel.razny@hksinformatik.de">Daniel Razny</a><br>
			Tester
		</li>
	</ul>
</div>