<div id="contributorScene" style="color: gray; font-size: 18px;">
	<div class="list-fade-top" x-mojo-scroll-fade="top"></div>
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div class="header-icon icon rss"></div>                        
			<div class="title" id="contrib-title">Contributors</div>      
		</div>
	</div>
	<div style="padding-left: 10px; color: black;">
		The following people helped me to make FeedReader what it is now.<br>
		Thanks for your great support!
	</div>
	<div style="padding-left: 40px; font-style: italic;">
		- Timo Tegtmeier
	</div>
	<ul>
		<li>
			<a href="mailto:roubal@keyserver.cz"><b>Milan Roubal</b></a><br>
			Tester and author of the czech locale
		</li>
		<li>
			<b>Yannick LE NY</b><br>
			Author of the french locale
		</li>
		<li>
			<a href="mailto:franciscojrivash@gmail.com"><b>Francisco Rivas</b></a><br>
			Author of the spanish locale
		</li>
		<li>
			<a href="mailto:voronov@pisem.net"><b>Vladimir Voronov</b></a><br>
			Author of the russian locale
		</li>
		<li>
			<a href="mailto:daniel.razny@hksinformatik.de">Daniel Razny</a><br>
			Tester
		</li>
	</ul>
</div>