<div id="feedlistScene">
	<div id="load-scrim" class="palm-scrim load-scrim">
		<div x-mojo-element="Spinner" id="load-spinner"></div>
	</div>
	<div id="scene-main">
		<div class="list-fade-top" x-mojo-scroll-fade="top"></div>
		<div class="palm-page-header">
			<div class="palm-page-header-wrapper">
				<div class="header-icon icon rss"></div>                        
				<div class="title">FeedReader</div>      
			</div>
		</div>
			<div class="palm-list">
				<div id="feedList" x-mojo-element="FilterList"></div>
			</div>		
		<div class="list-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	</div>
</div>