<div class="palm-dialog-content">
    <span id="addfeed-title" class="palm-dialog-title">Version 1.2</span>
	<div class="licenseBody">
		<ul>
			<li>Einfache Podcast-Unterstützung</li>
			<li>Die Schrift kann vergrößert werden</li>
			<li>Die Anzeige kann stärker angepasst werden</li>
			<li>Beim Editieren von Feeds steht nun Copy & Paste zur Verfügung</li>
			<li>Feeds können nun von Webseiten imporiert werden</li>
			<li>Diverse Bugfixes</li>
		</ul>
	</div>
	<div class="palm-dialog-buttons">
		<div x-mojo-element="Button" id="okButton"></div>
	</div>
</div>
