<div class="palm-dialog-content">
    <span id="addfeed-title" class="palm-dialog-title">Version 1.1</span>
	<div class="licenseBody">
		<ul>
			<li>Alle Einträge werden nun zu einem Pseudo-Feed zusammengefasst</li>
			<li>Komplette Artikel können im FeedReader gelesen werden</li>
			<li>Die Farben der Titel sind anpassbar</li>
			<li>Navigationsbuttons um zwischen Feeds zu wechseln</li>
			<li>Diverse Bugfixes</li>
		</ul>
	</div>

	<div class="palm-dialog-buttons">
		<div x-mojo-element="Button" id="okButton"></div>
	</div>
</div>
