<div class="palm-dialog-content">
    <span id="addfeed-title" class="palm-dialog-title">Version 1.3.0</span>
	<div class="licenseBody">
		<ul>
			<li>Unterstützung für Video Podcasts</li>
			<li>Feeds und Nachrichten können als E-Mail versandt werden</li>
			<li>Anzahl der Nachrichten wird nun im Header angezeigt</li>
			<li>Verbesserte Stabilität</li>
			<li>Öffnen von Links in der Vollansicht geändert</li>
		</ul>
	</div>
	<div class="palm-dialog-buttons">
		<div x-mojo-element="Button" id="okButton"></div>
	</div>
</div>
