<div class="palm-dialog-content">
    <span id="addfeed-title" class="palm-dialog-title">Version 1.1</span>
	<div class="licenseBody">
		<ul>
			<li>all stories are now aggregated into a pseudo feed</li>
			<li>the full stories can now be read in FeedReader</li>
			<li>the title color can now be customized</li>
			<li>one can now quickly change between feeds in the story list</li>
			<li>a couple of bug fixes</li>
		</ul>
	</div>

	<div class="palm-dialog-buttons">
		<div x-mojo-element="Button" id="okButton"></div>
	</div>
</div>
