<div id="preferencesScene">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div id="appIcon" class="icon"></div>                        
			<div id="prefs-title" class="title"></div>      
		</div>
	</div>

	<div class="palm-group">
		<div id="prefs-group-title" class="palm-group-title"></div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="updateInterval"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" id="notificationEnabled"></div>
					<div id="notify-title" class="title left"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" id="wakingEnabled"></div>
					<div id="wake-device-title" class="title left"></div>
				</div>
			</div>
		</div>
	</div>
</div>
