.enyo-modaldialog > * {
	height:100%;
}

/*
 * Custom styles
 */

span.bold {
	font-weight: bold;
}

span.underline {
	text-decoration: underline;
}

span.italic {
	font-style: italic;
}

/* lists */
.feed-title {
	padding-left: 4px;
    font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

.feed-url {
	font-weight: lighter;
	margin-top: -2px;
	padding-left: 4px;
    font-size: 14px;
    color: gray;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

.list-text.large {
	font-size: 16px;
}

/* item badges */
.feed-infobox {
	position: relative;
	margin-right: 10px;
	margin-top: 2px;
}

.feed-countlabel {
	margin: 2px -4px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

.feed-newitem {
	position: absolute;
	left: -8px;
	bottom: -5px;
	line-height: 24px;
	height: 28px;
	-webkit-border-image: url(../images/lists/icon-newitem.png) 0 12 0 12 repeat stretch;
	-webkit-box-sizing: border-box;
	border-width: 0px 12px 0px 12px;
	text-align:	center;
 	vertical-align: baseline;
}

.feed-unreaditem {
	position: absolute;
	right: -8px;
	top: -10px;
	line-height: 24px;
	height: 28px;
	-webkit-border-image: url(../images/lists/icon-unreaditem.png) 0 12 0 12 repeat stretch;
	-webkit-box-sizing: border-box;
	border-width: 0px 12px 0px 12px;
	text-align:	center;
 	vertical-align: baseline;
}

.feed-count {
	color: white;
}

/* styles for the story list */

.story-date {
	color: gray;
	font-size: 12px;
}

.story-title {
	color: black;
	font-size: 16px;
}

.story-content {
	color: gray;
	font-size: 15px;
}

/* Text styling */

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.purple {
	color: #800080;
}

.black {
	color: black;
}

/* styles for the story view */

.star-checkbox {
	background: url(../images/button/star-toggle.png) -1px -1px;
}

.story-body {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 14pt;
	background-color: #e4e4e2;
}

.story-body-header {
	overflow:hidden;
	background: transparent url(../images/paper.png) repeat;
	color: grey;
	font-size: 15px;
	vertical-align: middle;
}

.story-header-label {
	text-transform: none;
	margin: 10px;
	font-weight: bold;
}

.weblink-button {
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.weblink-image {
	background-image: url('../images/web-icon.png');
	float: left;
	margin-right: 5px;
}

/* misc */

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

.header-shadow,
.footer-shadow,
.search-shadow {
	z-index: 100;
	pointer-events: none;
}

.header-shadow {
	margin-top: -5px;
	height: 7px;
	width: 100%;
	background: transparent url('../images/header-shadow.png') bottom repeat-x;
}

.footer-shadow {
	margin-bottom: -5px;
	height: 7px;
	width: 100%;
	background:transparent url('../images/footer-shadow.png') top repeat-x;
}

.search-shadow {
	top: 0;
	height: 107px;
	width: 100%;
	background:transparent url('../images/header-shadow') bottom repeat-x;
}

.dotted-separator {
	height: 2px;
	background: transparent url(../images/dots.png) bottom repeat-x;
	border: 1px transparent;
}

.silver-separator {
	height: 2px;
	border-bottom: 1px solid silver;
	margin: 4px;
}

.additional-scene-width {
	width: 640px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
 * Header design
 */

.header-icon {
	max-height:	32px;
	max-width: 32px;
	padding-right: 10px;
}

/*
 * Dialogs
 */

.warning-icon {
	background: url(../images/dialogs/warning.png) 0 0 no-repeat;
	height: 25px;
}

.enyo-text-error.warning-icon{
	padding-left: 28px;
	font-size: 20px;
}
