/*
 * Changes to Palm styles
 */

.icon.rss {
    background: url(../images/header/rss-icon.png) center center no-repeat;
}

.icon.atom {
    background: url(../images/header/atom-icon.png) center center no-repeat;
}

.icon.allitems {
    background: url(../images/header/icon-allitems.png) center center no-repeat;
}

/*
 * Custom styles
 */

/* lists */
.list-title {
	padding-top: 5px;
	padding-left: 4px;
    font-size: 15px;
    color: black;
}

.list-text {
	padding-left: 4px;
	margin-top: -2px;
    font-size: 14px;
    color: gray;
}

.list-info-icon {
    background: url(../images/lists/info-icon.png) center center no-repeat;
}

.list-icon-spinner {
	position: relative;
	top: -36px;
	left: -1px;
}

.list-fade-top {
	position: fixed; 
	top: 0; 
	z-index: 10000;
	height: 54px; 
	width: 100%;
	background: url(../images/fade-top.png) top center repeat-x;
}

.list-fade-bottom {
	position: fixed; 
	bottom: 0; 
	z-index: 10000;
	height: 54px; 
	width: 100%;
	background: url(../images/fade-bottom.png) bottom center repeat-x;
}

/* feed icons */
.feed-icon-allitems {
    background: url(../images/lists/icon-allitems.png) center no-repeat;	
}

.feed-icon-rss {
    background: url(../images/lists/icon-rss.png) center no-repeat;
}

.feed-icon-atom {
    background: url(../images/lists/icon-atom.png) center no-repeat;
}

.feed-icon-unknown {
	background: url(../images/lists/icon-unknown.png) center no-repeat;
}

.feed-icon-rss-disabled {
	background: url(../images/lists/icon-rss-disabled.png) center no-repeat;
}
.feed-icon-atom-disabled {
	background: url(../images/lists/icon-atom-disabled.png) center no-repeat;
}

.feed-icon-unknown-disabled {
	background: url(../images/lists/icon-unknown.png) center no-repeat;
}

/* item badges */
.feed-newitem {
	position: absolute;
	display: inline;
 	float: left;
	font-weight: bold;
 	line-height: 30px;
 	height: 28px;
 	min-width: 24px;
 	margin-top: 24px;
 	margin-left: -15px;
 	text-align: center;
 	vertical-align: baseline;
 	-webkit-border-image: url(../images/lists/icon-newitem.png) 0 12 0 12 repeat stretch;
 	-webkit-box-sizing: border-box;
	border-width: 0px 12px 0px 12px;
}

.feed-newitem span {
 	position: relative;
 	top: -3px;
 	margin: 0 -6px;
 	font-size: 16px;
}

.feed-count {
	color: white;
}

/* styles for the story list */
.story-date {
	color: gray;
	font-size: 12px;
}

.story-title {
	font-size: 16px;
}

.story-content {
	color: black;
	font-size: 15px;
}

/* Text styling */
.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.purple {
	color: #800080;
}

.black {
	color: black;
}

.normal-text {
	font-weight: normal; 
}

.bold-text {
	font-weight: bold;
}

/* misc */
h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

#licenseBody {
	font-size: 15px;
}

.togglebutton-title {
	float: left;
}

.img_email {
	position: relative;
	left: 8px;
	top: 10px;
	width: 32px; 
	height: 32px;
	background: url(../images/support/email-icon.png) no-repeat bottom;
	vertical-align: bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}

.img_web {
	position: relative;
	left: 8px;
	top: 10px;
	width: 32px; 
	height: 32px;
	background: url(../images/support/web-icon.png) no-repeat bottom;
	vertical-align: bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
