<div class="palm-row" x-mojo-tap-highlight="momentary">
 	<div class="palm-row-wrapper textfield-group">
		<div class="floatcontainer">
			<div class="floatright">
				<div class="list-star-icon #{starClass} icon" id="starStory" x-mojo-tap-highlight="momentary"></div>
			</div>
			<p class="floater">
				<span class="story-date">#{date} #{origin}<br></span>
				<span class="story-title #{titleStyle} #{titleColor} #{large} multiline">#{-title}<br></span>
				<span class="story-content #{contentStyle} #{large} condensed multiline">#{-shortSummary}</span>
			</p>
		</div>
	</div>
</div>